@page "{id}"
@model Formation.Pages.EditModel
@{
}


<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Update Restaurant</h2>
            <hr />
            <form class="form-horizontal" method="post">
                <div class="form-group">
                    <input type="hidden" value="@Model.Restaurant.Id" asp-for="@Model.Restaurant.Id" />
                    <label asp-for="@Model.Restaurant.Name" class="control-label col-md-2">Name:</label>
                    <div class="col-md-10">
                        <input asp-for="@Model.Restaurant.Name" class="form-control" />
                        <span asp-validation-for="@Model.Restaurant.Name" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.Restaurant.Description" class="control-label col-md-2">Description:</label>
                    <div class="col-md-10">
                        <textarea asp-for="@Model.Restaurant.Description" class="form-control"></textarea>
                        <span asp-validation-for="@Model.Restaurant.Description" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button type="submit" class="btn btn-primary mt-2">Save Restaurant</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>